@{
    ViewData["Title"] = "AvS Book Store";
}

<p>
    A bookstore is the main type of retail book trade enterprise that, in accordance
    with current legislation, conducts cultural activities of distributing books and
    other publishing products through their retail sale to the public.
</p>