@{
    ViewData["Title"] = "Order is processed";
}  

<p>
    The order has been processed. We collect the order to send it to the delivery service.

    Wait for confirmation SMS.
</p> 

<p>
    <a href="@Url.Action("Index", "Home")">Return in store</a>
</p>